![GCAT | Genomes for Life](images/logo-GCAT.png)

# Filter locations

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.pylab import *
%matplotlib inline

## Load tables

- MICA
- Participants

In [2]:
mica = pd.read_csv("/home/labs/dnalab/share/lims/R/gcat-cohort/output/export/QUESTIONARI/data.csv", low_memory=False)
participants = pd.read_csv("/home/labs/dnalab/share/lims/R/gcat-cohort/output/export/Participants/data.csv")

all = participants
all = pd.merge(all, mica, on=['entity_id'])

## Load country codes

In [3]:
countries = [
    'ANDORRA',
    'ANGOLA',
    'ARGENTINA',
    'ARMENIA',
    'AUSTRIA',
    'AUSTRALIA',
    'BELGIUM',
    'BOLIVIA',
    'BULGARIA',
    'BRAZIL',
    'CANADA',
    'CHILE',
    'COLOMBIA',
    'CUBA',
    'DENMARK',
    'DOMINICAN REPUBLIC',
    'ECUADOR',
    'EGYPT',
    'EL SALVADOR',
    'EQUADOR',
    'EQUATORIAL GUINEA',
    'FINLAND',
    'FRANCE',
    'GERMANY',
    'GUATEMALA',
    'GUINEA ECUATORIAL',
    'ICELAND',
    'IRAK',
    'IRAN',
    'IRELAND',
    'ITALY',
    'MACEDONIA',
    'MEXICO',
    'MOROCCO',
    'NETHERLANDS',
    'PERU',
    'POLONIA',
    'PORTUGAL',
    'PUERTO RICO',
    'ROMANIA',
    'RUSSIA',
    'SERBIA',
    'SPAIN',
    'SWEDEN',
    'SWITZERLAND',
    'TUNISIA',
    'UNITED KINGDOM',
    'URUGUAY',
    'VENEZUELA'
]

## Select variables of interest

In [4]:
columns = [
    'entity_id',
    'MUNICIPIO_NACIMIENTO',
    'MUNICIPIO_RESIDENCIA_OTRO',
    'MUNICIPIO_NACIMIENTO_OTRO',
    'MUNICIPIO_RESIDENCIA',
    'PAIS_NACIMIENTO',
    'PAIS_NACIMIENTO_OTRO',
]

all = all.ix[:,columns]

## Province of residence

In [5]:
filter = all.copy()
regional_codes = {'08': 'BARCELONA', '17': 'GIRONA', '25': 'LLEIDA', '43': 'TARRAGONA'}

filter['PROVINCIA_RESIDENCIA'] = filter['MUNICIPIO_RESIDENCIA'].str.extract('(\d\d)')
filter = filter.replace({'PROVINCIA_RESIDENCIA': regional_codes})

## Country of birth

In [6]:
country_codes = {1: 'SPAIN', 2: None}
filter = filter.replace({'PAIS_NACIMIENTO': country_codes})
filter.loc[
    filter['PAIS_NACIMIENTO'] != 'SPAIN', 'PAIS_NACIMIENTO'] = filter.loc[
    filter['PAIS_NACIMIENTO'] != 'SPAIN', 'PAIS_NACIMIENTO_OTRO']

## Town of birth

In [7]:
filter.loc[
    filter['MUNICIPIO_NACIMIENTO'].isnull(), 'MUNICIPIO_NACIMIENTO'] = filter.loc[
    filter['MUNICIPIO_NACIMIENTO'].isnull(), 'MUNICIPIO_NACIMIENTO_OTRO']

filter['MUNICIPIO_NACIMIENTO'] = filter['MUNICIPIO_NACIMIENTO'].str.upper()

In [8]:
filter['MUNICIPIO_NACIMIENTO']

0                         BADALONA
1                             REUS
2                            LOBON
3                        BARCELONA
4                         BADALONA
5                        BARCELONA
6                         BADALONA
7                            SERON
8                             JAEN
9                              NaN
10                       BARCELONA
11               PRAT DE LLOBREGAT
12                       BARCELONA
13                  PEDRO MARTINEZ
14               PRAT DE LLOBREGAT
15         HOSPITALET DE LLOBREGAT
16                           OÑATI
17                       BARCELONA
18                       BARCELONA
19                       BARCELONA
20                   ANTAS DE ULLA
21                       BARCELONA
22                       BARCELONA
23                       BARCELONA
24                       BARCELONA
25                       BARCELONA
26                         CORDOBA
27                           ARTES
28           CASTELLAR DE LA MUELA
29            HIGUERA DE CALATRAVA
                   ...
15711         VILANOVA I LA GELTRU
15712                    BARCELONA
15713                       MATARO
15714                    BARCELONA
15715                    BARCELONA
15716                  BRAZATORTAS
15717                    BARCELONA
15718                     SABADELL
15719         VILANOVA I LA GELTRU
15720            MOLLET DEL VALLES
15721                       MATARO
15722                     SABADELL
15723         VILANOVA I LA GELTRU
15724            MOLLET DEL VALLES
15725       VILAFRANCA DEL PENEDES
15726                     SABADELL
15727         VILANOVA I LA GELTRU
15728    SANT ANDREU DE LLAVANERES
15729                     SABADELL
15730         VILANOVA I LA GELTRÚ
15731                       LLEIDA
15732                          NaN
15733                    ANTEQUERA
15734                       UTRERA
15735                    BARCELONA
15736                          NaN
15737            PALMA DE MALLORCA
15738         VILANOVA I LA GELTRU
15739         VILANOVA I LA GELTRU
15740         VILANOVA I LA GELTRU
Name: MUNICIPIO_NACIMIENTO, dtype: object

## Curate foreign country names

In [15]:
a_la_llista = True & ~filter.PAIS_NACIMIENTO_OTRO.isin(countries)

filter['LUGAR_NACIMIENTO.OTRO.PAIS'] = filter['PAIS_NACIMIENTO_OTRO']
filter['LUGAR_NACIMIENTO'] = filter['PAIS_NACIMIENTO']
output = filter.loc[filter['PAIS_NACIMIENTO_OTRO'].notnull() & a_la_llista,
           ['entity_id', 'LUGAR_NACIMIENTO', 'LUGAR_NACIMIENTO.OTRO.PAIS']]

output.to_csv('../output/locations/other_countries.csv', index=False, encode='utf-8')

In [14]:
output

              entity_id        LUGAR_NACIMIENTO LUGAR_NACIMIENTO.OTRO.PAIS
10496  =E00251611425321               Argentina                  Argentina
11942  =E00251614244421               Argentina                  Argentina
12081  =E00251616259421                  Brasil                     Brasil
12147  =E00251616357021                   Mèxic                      Mèxic
12247  =E00251615211321               MARRUECOS                  MARRUECOS
12341  =E00251616386421               CATALUNYA                  CATALUNYA
12682  =E00251619080221               CATALUNYA                  CATALUNYA
12694  =E00251619080421                  FRANÇA                     FRANÇA
12731  =E00251613163321               Argentina                  Argentina
12742  =E00251624482821                 FRANCIA                    FRANCIA
12792  =E00251619082321                   Suiza                      Suiza
12841  =E00251619083421               CATALUNYA                  CATALUNYA
12854  =E00251613178421                   chile                      chile
12858  =E00251624428021    republica dominicana       republica dominicana
12873  =E00251619084721               CATALUNYA                  CATALUNYA
12907  =E00251624563321               Venezuela                  Venezuela
12911  =E00251624511321                   suiza                      suiza
12913  =E00251625127021            URSS (RUSIA)               URSS (RUSIA)
12925  =E00251619089321                 CACERES                    CACERES
12989  =E00251624642921                Alemania                   Alemania
13006  =E00251624509221                  France                     France
13029  =E00251625042521               argentina                  argentina
13031  =E00251626157821               CATALUNYA                  CATALUNYA
13062  =E00251624564021                    Cuba                       Cuba
13111  =E00251625112421                    peru                       peru
13123  =E00251625245721                colombia                   colombia
13127  =E00251625158921               Argentina                  Argentina
13135  =E00251625159021               Catalunya                  Catalunya
13149  =E00251625060521                alemania                   alemania
13174  =E00251626664821               MARRUECOS                  MARRUECOS
...                 ...                     ...                        ...
15156  =E00251710128521               Argentina                  Argentina
15159  =E00251715035721                ALEMANIA                   ALEMANIA
15175  =E00251715430421    Tortosa  (Catalunya)       Tortosa  (Catalunya)
15177  =E00251720430421                  Suïssa                     Suïssa
15209  =E00251720430821                Colombia                   Colombia
15233  =E00251721191421                    cuba                       cuba
15236  =E00251720437021                Alemania                   Alemania
15296  =E00251715724921  republicana dominicana     republicana dominicana
15313  =E00251721708121               Argentina                  Argentina
15316  =E00251722800721               Catalunya                  Catalunya
15319  =E00251715831821                 Uruguay                    Uruguay
15324  =E00251722800821               Catalunya                  Catalunya
15346  =E00251715848921               barcelona                  barcelona
15362  =E00251716554921               Argentina                  Argentina
15388  =E00251715858921                  mexico                     mexico
15391  =E00251715901921               Argentina                  Argentina
15421  =E00251715906721               Catalunya                  Catalunya
15438  =E00251716626121               argentina                  argentina
15445  =E00251715913721                    Cuba                       Cuba
15461  =E00251716476721                    PERÚ                       PERÚ
15475  =E00251716644321                Alemania                   Alemania
15559  =E00251716658321                Alemania                   Alemania
15588  =E00251718906721               Argentina                  Argentina
15654  =E00251718083521                Colombia                   Colombia
15656  =E00251720434221                    Cuba                       Cuba
15668  =E00251720434421                 Francia                    Francia
15680  =E00251720434721                  França                     França
15698  =E00251721197321                Portugal                   Portugal
15732  =E00251720436021               catalunya                  catalunya
15736  =E00251720436321               catalunya                  catalunya

[142 rows x 3 columns]

## Write curated data

In [20]:
columns = [
    'entity_id',
    'PAIS_NACIMIENTO',
    'MUNICIPIO_NACIMIENTO',
    'PROVINCIA_RESIDENCIA'
]
data = filter[columns]
data.to_csv('../output/locations/data.csv', index=False, encode='ISO-8859-1')

In [21]:
data

,entity_id,PAIS_NACIMIENTO,MUNICIPIO_NACIMIENTO,PROVINCIA_RESIDENCIA
0,=E00251417636421,SPAIN,BADALONA,BARCELONA
1,=E00251417995621,SPAIN,REUS,TARRAGONA
2,=E00251429158121,SPAIN,LOBON,BARCELONA
3,=E00251429165021,SPAIN,BARCELONA,BARCELONA
4,=E00251429205921,SPAIN,BADALONA,BARCELONA
5,=E00251429233421,SPAIN,BARCELONA,BARCELONA
6,=E00251429387321,SPAIN,BADALONA,BARCELONA
7,=E00251429394421,SPAIN,SERON,BARCELONA
8,=E00251429545321,SPAIN,JAEN,BARCELONA
9,=E00251429562721,GERMANY,NaN,BARCELONA
10,=E00251429606621,SPAIN,BARCELONA,BARCELONA
11,=E00251429606921,SPAIN,PRAT DE LLOBREGAT,BARCELONA
12,=E00251429634121,SPAIN,BARCELONA,BARCELONA
13,=E00251429654921,SPAIN,PEDRO MARTINEZ,BARCELONA
14,=E00251429822221,SPAIN,PRAT DE LLOBREGAT,BARCELONA
15,=E00251429859421,SPAIN,HOSPITALET DE LLOBREGAT,BARCELONA
16,=E00251430060221,SPAIN,OÑATI,BARCELONA
17,=E00251430121821,SPAIN,BARCELONA,BARCELONA
18,=E00251430137021,SPAIN,BARCELONA,BARCELONA
19,=E00251430168821,SPAIN,BARCELONA,BARCELONA
20,=E00251430210121,SPAIN,ANTAS DE ULLA,BARCELONA
21,=E00251430231921,SPAIN,BARCELONA,BARCELONA
22,=E00251430251921,SPAIN,BARCELONA,BARCELONA
23,=E00251430292021,SPAIN,BARCELONA,BARCELONA
24,=E00251430306121,SPAIN,BARCELONA,BARCELONA
25,=E00251430323421,SPAIN,BARCELONA,BARCELONA
26,=E00251430323621,SPAIN,CORDOBA,BARCELONA
27,=E00251430367421,SPAIN,ARTES,BARCELONA
28,=E00251430391921,SPAIN,CASTELLAR DE LA MUELA,BARCELONA
29,=E00251431892821,SPAIN,HIGUERA DE CALATRAVA,BARCELONA
...,...,...,...,...
15711,=E00251720435421,SPAIN,VILANOVA I LA GELTRU,BARCELONA
15712,=E00251721197621,SPAIN,BARCELONA,BARCELONA
15713,=E00251720194421,SPAIN,MATARO,BARCELONA
15714,=E00251719509421,SPAIN,BARCELONA,BARCELONA
15715,=E00251720435521,SPAIN,BARCELONA,NaN
15716,=E00251721197721,SPAIN,BRAZATORTAS,BARCELONA
15717,=E00251720194521,SPAIN,BARCELONA,BARCELONA
15718,=E00251719509521,SPAIN,SABADELL,BARCELONA
15719,=E00251720435621,SPAIN,VILANOVA I LA GELTRU,BARCELONA
15720,=E00251721197821,SPAIN,MOLLET DEL VALLES,BARCELONA
15721,=E00251720194621,SPAIN,MATARO,BARCELONA
15722,=E00251719509621,SPAIN,SABADELL,BARCELONA
15723,=E00251720435721,SPAIN,VILANOVA I LA GELTRU,BARCELONA
15724,=E00251721197921,SPAIN,MOLLET DEL VALLES,BARCELONA
15725,=E00251720303521,SPAIN,VILAFRANCA DEL PENEDES,BARCELONA
15726,=E00251719509721,SPAIN,SABADELL,BARCELONA
15727,=E00251720435821,SPAIN,VILANOVA I LA GELTRU,BARCELONA
15728,=E00251720308321,SPAIN,SANT ANDREU DE LLAVANERES,BARCELONA
15729,=E00251719509821,SPAIN,SABADELL,BARCELONA
15730,=E00251720435921,SPAIN,VILANOVA I LA GELTRÚ,NaN
15731,=E00251719509921,SPAIN,LLEIDA,BARCELONA
15732,=E00251720436021,catalunya,NaN,BARCELONA
15733,=E00251719510021,SPAIN,ANTEQUERA,BARCELONA
15734,=E00251720436121,SPAIN,UTRERA,BARCELONA
15735,=E00251720430321,SPAIN,BARCELONA,BARCELONA
15736,=E00251720436321,catalunya,NaN,BARCELONA
15737,=E00251720436421,SPAIN,PALMA DE MALLORCA,BARCELONA
15738,=E00251720436521,SPAIN,VILANOVA I LA GELTRU,BARCELONA
15739,=E00251720436621,SPAIN,VILANOVA I LA GELTRU,BARCELONA
15740,=E00251720436721,SPAIN,VILANOVA I LA GELTRU,BARCELONA